<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Faccio Cose</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
  <section class="section">
    <div class="container is-max-desktop">

      <div class="columns">
        <div class="column">
          <div class="content">
            {{ content }}
          </div>
        </div>
        {% if backlinks %}
        <div class="column is-narrow" style="padding:0">
          <aside class="menu" style="position:sticky;top:0">
            <nav class="p-3">
              <p class="menu-label">Riferimenti</p>
              <ul class="menu-list">
                {% for page in backlinks %}
                <li><a href="{{ page.html_name }}">{{ page.name }}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </aside>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
</body>

</html>